@import "tailwindcss";



.mySwiper{
  transition-timing-function: linear !important;
}

.swiper-wrapper {
  display: flex !important;
  transition-timing-function: linear !important;
  will-change: transform;
}


.swiper-slide {
    height: 100px !important;
    width: 100px !important;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform;
  }

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media (max-width: 768px) {
      width: 50%;
    }
}



.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #cecdce;
  border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #676767;
}

.modal-content::-webkit-scrollbar-track {
  background-color: transparent;
}


/** 글씨 외각 색상 */
.text-stroke-Mingle {
  -webkit-text-stroke: 2px #7C3AED;
  color: #c0c0c0;               
  /* color: #6B7280;                */
}

.text-stroke-can {
  -webkit-text-stroke: 2px #3B82F6;
  color: #FACC15;
}

.text-stroke-bnty {
  -webkit-text-stroke: 2px #B91C1C;
  color: #4B5563;
}
.text-stroke-vc {
  -webkit-text-stroke: 2px #A8A29E;
  color: #EF4444;
}